---
import { CollectionEntry, getCollection } from 'astro:content';
import Section from '../../components/Section.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
const { title, date, updatedDate, thumbnail } = post.data;
---

<BaseLayout>
	<Section class="prose prose-invert max-w-2xl">
		{thumbnail && <img width={720} height={360} src={thumbnail} alt="" />}
		<h1 class="title">{title}</h1>
		<FormattedDate date={date} />
		{
			updatedDate && (
				<div class="last-updated-on">
					Last updated on <FormattedDate date={updatedDate} />
				</div>
			)
		}
		<hr />
		<h1>{post.data.title}</h1>
		<Content />
	</Section>
</BaseLayout>
