---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro"
import Section from "../components/Section.astro";
import { Image } from "@astrojs/image/components";

import portrait from "../../public/harry-portrait.jpg";
import { getCollection } from "astro:content";

const projectsCollection = await getCollection("projects");

const projects = projectsCollection.map((project) => ({
	name: project.data.name,
	description: project.data.description,
	url: `/projects/${project.slug}`
}));

const blogCollection = await getCollection("blog");

const blogs = blogCollection.map((blog) => ({
	title: blog.data.title,
	description: blog.data.description,
	url: `/blog/${blog.slug}`
}));

---

<BaseLayout>
	<script>
		import { animate } from "motion";

		const element = document.querySelectorAll(".intro-box");

		animate(
			element,
			{ opacity: [0, 1], transform: "none" },
			{ duration: 0.8, easing: "ease-out" }
		);
	</script>
	{
		/* Maybe should be h-screen, but not sure how to do the margin for the header block */
	}
	<section class="flex bg-gradient-to-b from-[#4F7D8B] h-[48rem] mb-12">
		<div
			class="intro-box mt-36 md:flex md:flex-row mx-auto h-96 w-[56rem] bg-[#1E1E1E] rounded-lg border-[#9B9B9B] border-[1px] p-16"
		>
			<div class="md:w-64 flex flex-col justify-center">
				<h1 class="text-5xl font-bold tracking-wider pb-4 leading-relaxed">
					Hi there, I'm Harry
				</h1>
				<h4 class="italic text-xl pb-4 md:pb-0 text-gray-400 leading-relaxed">
					Full-Stack .NET <br />JavaScript Developer
				</h4>
			</div>
			<div class="flex items-center justify-end grow">
				<Image
					class="rounded-full md:float-right mx-auto md:mx-0"
					src={portrait}
					alt="Harry's face"
					width={300}
					height={300}
				/>
			</div>
		</div>
	</section>
	<Section>
		<h1 class="text-5xl font-bold pb-12">My Projects</h1>
		{projects.map(data => (
			<Card class="md:grid md:grid-cols-2 gap-4">
				<div class="col-span-1">
					<h2 class="py-2 text-4xl font-bold tracking-wider">{data.name}</h1>
					<p class="py-4 text-xl">{data.description}</p>
					<p class="text-lg"><a class="underline" href={data.url}>Read more</a></p>
				</div>	
				<div class="col-span-1">

				</div>
			</Card>
		))}
		
	</Section>

	<Section>
		<h1 class="text-5xl font-bold pb-12">Blog</h1>
		<div class="md:grid md:grid-cols-2 gap-4">
			{blogs.map(blog => 
				<Card>
					<h2 class="py-2 text-4xl font-bold tracking-wider">{blog.title}</h1>
					<p class="py-4 text-xl">{blog.description}</p>
					<p class="text-lg"><a class="underline" href={blog.url}>Read more</a></p>
				</Card>
			)}
		</div>
	</Section>
		
</BaseLayout>
