---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "@astrojs/image/components";

import portrait from "../../public/harry-portrait.jpg";
import { getCollection } from "astro:content";

const projectsCollection = await getCollection("projects");

const projects = projectsCollection.map((project) => ({
	name: project.data.name,
	description: project.data.description,
	url: `/projects/${project.slug}`
}));
---

<BaseLayout>
	{
		/* Maybe should be h-screen, but not sure how to do the margin for the header block */
	}
	<section class="flex bg-gradient-to-b from-[#4F7D8B] h-[48rem] mb-12">
		<div
			class="mt-36 md:flex md:flex-row mx-auto h-96 w-[56rem] bg-[#1E1E1E] rounded-lg border-[#9B9B9B] border-[1px] p-8"
		>
			<div class="md:w-64 flex flex-col justify-center">
				<h1 class="text-5xl font-bold tracking-wider pb-4 leading-relaxed">
					Hi there, I'm Harry
				</h1>
				<h4 class="italic text-xl pb-4 md:pb-0 text-gray-400 leading-relaxed">
					Full-Stack .NET/JavaScript Developer
				</h4>
			</div>
			<div class="flex items-center justify-end grow">
				<Image
					class="rounded-full md:float-right mx-auto md:mx-0"
					src={portrait}
					alt="Harry's face"
					width={250}
					height={250}
				/>
			</div>
		</div>
	</section>
	<section class="mx-auto max-w-6xl mt-12">
		<h1 class="text-5xl font-bold pb-12">My Projects</h1>
		{projects.map(data => (
			<article 
			style={"background: linear-gradient(180deg, #454545 45.83%, rgba(140, 140, 140, 0.41) 100%);"}
			class="p-8 md:grid md:grid-cols-2 gap-4 w-full border-[#9B9B9B] border-2 rounded-2xl">
				<div class="col-span-1">
					<h2 class="py-2 text-4xl font-bold tracking-wider">{data.name}</h1>
					<p class="py-4 text-xl">{data.description}</p>
					<p class="text-lg"><a class="underline" href={data.url}>Read more</a></p>
				</div>	
				<div class="col-span-1">

				</div>
			</article>
		))}
		
	</section>
</BaseLayout>
